[submodule "themes/tophat"]
	path = themes/tophat
	url = https://github.com/sergiobarriel/tophat-theme.git
[submodule ".github/workflows/themes/mini"]
	path = .github/workflows/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
